.course-catalog{
  display: block;
  flex-direction: column;
  align-items: left;
  margin-left: 300px;
  width: calc(100% - 300px);
  min-width: 800px;
  padding: 10px;  
  
}

.header {
  
  font-size: 24px;
  width: 100%;
  display: block;

}

.course-catalog-table-container {
  overflow-x: auto;
  width: 100%;
  top: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}

.course-catalog-table {
  margin-left: calc(50% - 420px);
  width: 840px;
  position: relative;
  border-collapse: collapse;
  border-radius: 20px;
}

.course-catalog-table th,
.course-catalog-table td {
  border: 1px solid #865344;
  width: 120px;
  padding: 8px;
  text-align: center;

}

.course-catalog-table thead {
  background-color: #d7cdc3;
  font-weight: bold;
}

.course-action-btn{
  width: 150px;
  background: #d7cdc3;
  color: rgb(158, 57, 10);
  font-size: 17px;
  margin:5px;
  border: 1px solid #865344;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.course-action-btn:hover{
  border: 2px solid #551805;
  transition: 0.1s;
  color:  #551805;
}