.create_course_container{
    width: 400px;
    max-height: 650px;
    min-height: 500px;
    background-color: '#d7cdc3';
    border-radius: '20px';
    position: 'fixed';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
}

.create-course-form{
    color:'#865344';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.create-course-form h2{
    width: 100%;
}

.input-container{
    justify-content: center;
}

.create-course-btn{
    border-radius: 23px;
    /* border-bottom-right-radius: 20px; */
    width: 150px;
    height: 38.85px;
    padding-left: 1%;
    /* margin-left: calc(50% - 75px); */
    background: #d7cdc3;
    color: rgb(158, 57, 10);
    font-size: 17px;
    position: relative;
    border: 1px solid #865344;
    cursor: pointer;
    margin-left: calc(50% - 75px);
}

.create-course-btn:hover{
    border: 2px solid #551805;
    transition: 0.1s;
    color:  #551805;
}