.profile-page {
  display: flex;
  margin: 1rem;  
}

.left-column {
  flex: 1;
  margin-right: 1rem;
  float: left;
  text-align: left;
  background-color: blanchedalmond;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.personal-info {
  color: rgb(158, 57, 10);
  font-size: 18px;
  list-style: none;
  padding: 0;

}

.personal-info-item {
  font-size: 18px;
}

.main-content {
  flex: 2;
}

.course-list {
  list-style: none;
  padding: 0;
  color: rgb(158, 57, 10);
}

.course-item {

  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  min-width: 400px;
}

.course-code,
.course-name {
  margin-right: 1rem;
}

.drop-course-btn {
  width: 100px;
  background: #d7cdc3;
  color: rgb(158, 57, 10);
  font-size: 17px;
  border: 1px solid #865344;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.drop-course-btn:hover{
  border: 2px solid #551805;
  transition: 0.1s;
  color:  #551805;
}

.profile-header{
  color: rgb(158, 57, 10);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  font-size: 24px; 
}

.header{
  font-size: 24px;
  color: rgb(158, 57, 10);
}
