.search-results{
    height:max-content;
    
}

.title{
    font-size: 24px;
}

.list-item{
    height: fit-content;
    min-width: 800px;
    width: 100%;
    border-radius: 20px;
    color: rgb(158, 57, 10);
    background: #d7cdc3;
    font-size: 32px;
    border: 3px solid #865344;
    cursor: pointer;
    text-align: left;
    margin-bottom: 20px;

}
/* below are the list item*/
.course-code{
    height:fit-content;
    width:12.5%;
}

.course-name{
    height:fit-content;
    width:12.5%;
}

.venue{
    width:12.5%;
    height:fit-content
}
.time{
    width:12.5%;
    height:fit-content 
}

.department{
    width:12.5%;
    height:fit-content
}

.instructor{
    width:12.5%;
    height:fit-content
}

.course-units{
    width:12.5%;
    height:fit-content
}

.course-status{
    width:12.5%;
    height:fit-content
}

.vacancy{
    width:12.5%;
    height:fit-content
}