.timetable-container {
    overflow-x: auto;
    width: 100%;
    top: 30px;
    
  }
  
  .timetable {
    margin-left: calc(50% - 420px);
    width: 840px;
    position: relative;
    border-collapse: collapse;
    border-radius: 20px;
  }
  
  .timetable th,
  .timetable td {
    border: 1px solid #865344;
    width: 120px;
    padding: 8px;
    text-align: center;

  }
  
  .timetable thead {
    background-color: #d7cdc3;
    font-weight: bold;
  }
  
